@import '_variables.scss';

:host {
  display: block;
  width: 100%;
}

.stories-holder {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  @include md {
    padding-right: 0;
    padding-left: 0;
  }

  @include sm {
    padding-right: 0;
    padding-left: 0;
  }

  .virtual-stories {
    height: 100%;

    &>div {
      background: red;
    }

    .story-card-holder {
      width: 100%;
      height: 1020px;

      @include lg {
        height: 800px;
      }

      &:not(:last-child) {
        margin-bottom: 80px;

        @include lg {
          margin-bottom: 50px;
        }

        @include sm {
          margin-bottom: 20px;
        }
      }

      @include md {
        padding: 0 30px;
      }

      @include sm {
        padding: 0 20px;
        height: 630px;
      }
    }
  }
}
