<div class="ham-menu-container" hamMenu>
  <div class="menu-item-holder">

    <a class="menu-item" [routerLink]="[ '/home' ]" routerLinkActive="active" hamMenuItem> Home </a>
    <a class="menu-item" [routerLink]="[ '/stories' ]" routerLinkActive="active" hamMenuItem> Stories </a>
    <a class="menu-item" [routerLink]="[ '/about' ]" routerLinkActive="active" hamMenuItem> About </a>
    <a class="menu-item" [routerLink]="[ '/panel' ]" routerLinkActive="active" hamMenuItem> Panel </a>

  </div>
</div>
