<a class="header-item logo-holder" [routerLink]="[ '/' ]">
  <div class="logo"></div>
</a>

<a class="header-item">

  <div class="header-item-icon">
    &#xf3fd;
  </div>

  <span class="header-item-title"> Dashboard </span>
</a>

<a class="header-item" [routerLink]="[ 'landing' ]" routerLinkActive="active">

  <div class=" header-item-icon">
    &#xf302;
  </div>

  <span class="header-item-title"> Landing Page </span>
</a>

<a class=" header-item">

  <div class="header-item-icon">
    &#xf083;
  </div>

  <span class="header-item-title"> Stories </span>
</a>

<a class="header-item" [routerLink]="[ 'test' ]" routerLinkActive="active">

  <div class="header-item-icon">
    &#xf406;
  </div>

  <span class="header-item-title"> User </span>
</a>
