<a class="header-item logo-holder" [routerLink]="[ '/' ]">
  <div class="logo"></div>
</a>

<a class="header-item">

  <div class="header-item-icon">
    &#xf6d3;
  </div>

  <span class="header-item-title"> test </span>
</a>

<a class="header-item">

  <div class="header-item-icon">
    &#xf6d3;
  </div>

  <span class="header-item-title"> test </span>
</a>

<a class="header-item">

  <div class="header-item-icon">
    &#xf6d3;
  </div>

  <span class="header-item-title"> test </span>
</a>

<a class="header-item">

  <div class="header-item-icon">
    &#xf6d3;
  </div>

  <span class="header-item-title"> test </span>
</a>
